@import '~@openmrs/esm-styleguide/src/vars';
@import '~carbon-components/src/globals/scss/mixins';

.container {
  padding: 2rem;
}

.title {
  @include carbon--type-style('productive-heading-02');
  margin-bottom: 1rem;
}

.tableContainer {
  background: none;
  padding: 0;

  :global(.bx--data-table-container) {
    padding-top: 0;
  }

  :global(.bx--data-table) {
    background: $ui-03;
  }

  :global(.bx--data-table-content) {
    border: 1px solid $ui-03;
  }

  :global(.bx--data-table-header) {
    padding: 0;
  }

  :global(.bx--table-toolbar) {
    position: relative;
    overflow: visible;
    background-color: $ui-01;
    margin-bottom: 1rem;
  }

  :global(.bx--data-table--zebra tbody tr[data-child-row]:hover td) {
    background-color: $ui-02;
  }
}

.runningIcon {
  fill: green;
}

.stoppedIcon {
  fill: red;
}

.tile {
  border: 1px solid $ui-03;
}

.customTile {
  @extend .tile;
  text-align: center;
}

.emptyState {
  @extend .container;
  margin-top: 6rem;
}

.content {
  @include carbon--type-style("productive-heading-01");
  color: $text-02;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.search {
  min-width: 16rem;

  input {
    background-color: $ui-02 !important;
  }
}


.buttonContainer {
  display: flex;
  margin: 1rem 0;
  justify-content: space-between;
    
  button {
    margin-right: 1rem;
  }
}

.actionButton {
  :global(.bx--btn__icon) {
    position: initial;
  }
  
  svg {
    order: 1;
    margin-right: 0.5rem;
  }

  span {
    order: 2;
  }
}

